h1{
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
}

h2{
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
}

h4{
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
    font-style: italic;
}

.abs-center {
    display: flex;
    justify-content: center;
}

.row{
    margin-top: 30px;
}